#head-container {
    margin-top: 1%;
}

#head {
    text-align: center;
    background-color: #bb654b;
    color: white;
}

#logos {
    width: 20%;
    height: auto;
}

.logInHeader {
    text-align: center;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-top: 25px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }

.signin {
    margin-bottom: 30px;
    height: auto;
}

.panel-custom {
    background-color: #bb654b !important;
    color: white !important;
}

h1 {
    font-family: 'Lora';
}

h2 {
    font-family: 'Lora';
}

h3 {
    font-family: 'Lora';
}

h4 {
    font-family: 'Thasadith';
    
}

h5 {
    font-family: 'Thasadith';
    font-weight: 900;
}

p {
    font-family: 'Thasadith';
}

body {
    background-color: rgb(217, 246, 255);
}

tbody {
    padding-left: 10px;
}

table {
    margin: 0 auto;
}

th {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
}

hr {
    margin: 1%;
}


td{
    margin-left: 20px;
}


.headrow {
    font-size: 32px;
}


.form-control:focus {
    border-color: #bb654b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #bb654b;
}